#bubble{
 position:fixed;
 right:20px;bottom:120px;
 width:55px;height:55px;
 border-radius:50%;
 background:#22c55e;color:black;
 display:flex;align-items:center;justify-content:center;
 font-size:22px;z-index:99999;
}

#panel{
 position:fixed;
 right:20px;bottom:190px;
 background:#020617;color:white;
 padding:10px;border-radius:14px;
 display:none;z-index:99999;
}
